model=cnn
experiment=bce_acc4
#resume=experiments/bce_acc4/model_save_bce_acc4.pth.tar
override-model-opts=override_model_opts,resume,save_every,lr,min_lr,weight-decay,epochs,patience,calc-iou,grad-accum
epochs=10
stage=stage1
#patience=5
lr=0.01
min_lr=0.01
#valid-fraction=0.5
print-every=20
save-every=20
eval-every=20
criterion=bce
grad-accum=4
#calc-iou=1
